<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canucks Reddit Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list_posts.css') }}">
</head>
<body>
    <header class="project-header">
        <h1>Canucks Reddit Sentiment Dashboard</h1>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
        </ul>
    </header>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ url_for('main.post_detail', post_id=post.post_id) }}">
                    {{ post.title }} 
                </a>
            </li>
        {% else %}
            <li>No posts found. (Is your MongoDB running and data collected?)</li>
        {% endfor %}
    </ul>
</body>
</html>