<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canucks Sentiment: All Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list_posts.css') }}">
</head>
<body>
    <header class="project-header">
        <h1>Canucks Sentiment Analysis</h1>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
        </ul>
    </header>
    <div class="post-feed">
        <h2>
            Model Summary Graph
        </h2>
        <div class="reddit-post">
            <div class="post-title">
                <a href="{{ url_for('main.draw_graphs') }}">
                    Sentiment Trends for Vancouver Canucks
                </a>
                <div class="post-meta">
                    2 Graphs
                </div>
            </div>
        </div>
        <h2>
            Post Game Threads from the 2024-25 NHL Season
        </h2>
        <div>
            {% for post in posts %}
                <div class="reddit-post">
                    <div class="post-title">
                        <a href="{{ url_for('main.post_detail', post_id=post.post_id) }}">
                            {{ post.title.replace("Post Game Thread: ", "") }} 
                        </a>
                    </div>
                    <div class="post-meta">
                        <ul>
                            <li>{{ post.total_bodies }} comments ||</li> 
                            <li>VADER:
                                <span class="{% if post.vader_post_classification == 'POSITIVE' %}POS-SENTIMENT
                                {% elif post.vader_post_classification == 'NEGATIVE' %}NEG-SENTIMENT
                                {% elif post.vader_post_classification == 'NEUTRAL' %}NEU-SENTIMENT{% endif %}">
                                {{ post.vader_post_classification }}</span> ||
                            </li>
                            <li>DistilBERT: 
                                <span class="{% if post.distilbert_post_classification == 'POSITIVE' %}POS-SENTIMENT
                                {% elif post.distilbert_post_classification == 'NEGATIVE' %}NEG-SENTIMENT
                                {% elif post.distilbert_post_classification == 'NEUTRAL' %}NEU-SENTIMENT{% endif %}">
                                {{ post.distilbert_post_classification }}</span> ||
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div>No posts found. (Is your MongoDB running and data collected?)</div>
            {% endfor %}
        </div>
    </div>   
</body>
</html>