<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canucks Sentiment: {{ clean_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post_detail.css') }}">
</head>
<body>
    <header class="project-header">
        <h1>Canucks Sentiment Analysis</h1>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.list_posts') }}">All Posts</a></li>
        </ul>
    </header>
    <div>
        <h1>{{ clean_title }}</h1>

        <p><strong>Score:</strong> 
            <a href="https://www.google.com/search?q={{ clean_title|urlencode }}" target="_blank", rel="noopener noreferrer">View Score</a>
        </p>

        <h3>Sentiment Analysis: </h3>

        <div class="sentiment-div">
        <div>
            <h3>Classification and Scores: Overall Results For Post</h3>
        <ul class="sentiment-box">
            <li>
                <p>
                    <strong>VADER Sentiment Results: </strong>
                    Classification: 
                    <span class="{% if post.vader_post_classification == 'POSITIVE' %}POS-SENTIMENT
                    {% elif post.vader_post_classification == 'NEGATIVE' %}NEG-SENTIMENT
                    {% elif post.vader_post_classification == 'NEUTRAL' %}NEU-SENTIMENT{% endif %}">
                    {{ post.vader_post_classification }}</span> ||
                    Positive Comments: <strong>{{ post.pos_count }}</strong> ||
                    Neutral Comments: <strong>{{ post.neu_count }}</strong> ||
                    Negative Comments: <strong>{{ post.neg_count }}</strong> ||
                </p>
                <p>
                    <strong>VADER Scores:</strong>
                    Mean Compound: <strong>{{ post.avg_compound | round(5) }}</strong> ||
                    Mean Positive: <strong>{{ post.avg_pos | round(5) }}</strong> ||
                    Mean Neutral: <strong>{{ post.avg_neu | round(5) }}</strong> ||
                    Mean Negative: <strong>{{ post.avg_neg | round(5) }}</strong> ||
                </p>
            
            </li>
            <li>
                <p>
                    <strong>DistilBERT Sentiment Results: </strong> 
                    Classification: 
                    <span class="{% if post.distilbert_post_classification == 'POSITIVE' %}POS-SENTIMENT
                    {% elif post.distilbert_post_classification == 'NEGATIVE' %}NEG-SENTIMENT
                    {% elif post.distilbert_post_classification == 'NEUTRAL' %}NEU-SENTIMENT{% endif %}">
                        {{ post.distilbert_post_classification }}</span> ||
                    Positive Comments: <strong>{{ post.distilbert_pos_count }}</strong> ||
                    Negative Comments: <strong>{{ post.distilbert_neg_count }}</strong> ||
                </p>
            </li>
            <li>
                <p>
                    <strong>DistilBERT Score:</strong>
                    Mean Confidence Score: <strong>{{ post.distilbert_avg_confidence | round(5) }}</strong> ||
                </p>
            </li>
        </ul>
        </div>
        <div>
            <h3>Models Used: </h3>
            <ul class="sentiment-box">
                <li>
                    <p>
                        <strong>VADER</strong> is a rules-based model that calculates sentiment results using a large dictionary of words with predefined 
                        sentiment scores. It returns four scores: <em>positive</em>, <em>neutral</em>, <em>negative</em>, 
                        and <em>compound</em> which are proportions of each sentiment category. The 
                        <em>compound score</em> is a normalized overall score from <em>-1 (very negative)</em> to <em>+1 (very positive)</em> 
                        Sentiment Classification is based on the compound score: <em>greater than or equal to 0.05</em> is <em>positive</em>, 
                        <em>less than or equal to -0.05</em> is <em>negative</em>, and <em>between -0.05 and 0.05</em> is <em>neutral</em>.
                    </p>

                </li>
                <li>
                    <p>
                        <strong>DistilBERT</strong> is a deep learning model that classfies text into <em>positive</em> or <em>negative</em>, 
                        and assigns a <em>confidence score</em> ranging from <em>0 (no confidence)</em> to <em>1 (full confidence)</em> to each prediction. 
                        If a text is labeled <em>positive</em> with a confidence of <em>0.92</em>, it means the model is 92% confident that the 
                        sentiment is positive.
                    </p>
                </li>
            </ul>
        </div>
        </div>

        <h3>Comments: Total {{ post.total_bodies }}</h3>
        
        <div class="comment-div">
        {% macro render_comments(comments, level) %}
            <ul class="comment-list">
            {% for comment in comments %}
                <li class="comment-item comment-level-{{ level }}">
                    <p><span class="comment-author">{{ comment.author or "[deleted]" }}:</span> {{ comment.body }}</p>

                    <div class="comment-item sentiment-box">
                        <ul>
                            <li>
                                <p>
                                    <strong>VADER Analysis:</strong>
                                    Classification: 
                                    <span class="{% if comment.vader_classification == 'POSITIVE' %}POS-SENTIMENT
                                    {% elif comment.vader_classification == 'NEGATIVE' %}NEG-SENTIMENT
                                    {% elif comment.vader_classification == 'NEUTRAL' %}NEU-SENTIMENT{% endif %}">
                                        {{ comment.vader_classification }}</span> ||
                                    Compound: <strong>{{ comment.compound_sentiment | round(5) }}</strong> || 
                                    Positive: <strong>{{ comment.pos_sentiment | round(5) }}</strong> || 
                                    Neutral: <strong>{{ comment.neu_sentiment | round(5) }}</strong> || 
                                    Negative: <strong>{{ comment.neg_sentiment | round(5) }}</strong> || 
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>DistilBERT Analysis:</strong>
                                    Classification: 
                                    <span class="{% if comment.distilbert_sentiment == 'POSITIVE' %}POS-SENTIMENT
                                    {% elif comment.distilbert_sentiment == 'NEGATIVE' %}NEG-SENTIMENT
                                    {% elif comment.distilbert_sentiment == 'NEUTRAL' %}NEU-SENTIMENT{% endif %}">
                                        {{ comment.distilbert_sentiment }}</span> ||
                                    Confidence Score: <strong>{{ comment.distilbert_confidence | round(5) }}</strong> ||
                                </p>
                            </li>
                        </ul>
                    </div>

                    {% if comment.replies %}
                        {{ render_comments(comment.replies, level + 1) }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endmacro %}

        {% if post.comments %}
            {{ render_comments(post.comments, 0 ) }}
        {% else %}
            <p>No Comments found for this post.</p>
        {% endif %}

        <p style="margin-top: 20px;"><a href="{{ url_for('main.list_posts') }}">Back to All Posts</a></p>
        </div>
    </div>
</body>
</html>