<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post_detail.css') }}">
</head>
<body>
    <header class="project-header">
        <h1>Canucks Reddit Sentiment Dashboard</h1>
        <ul>
            <li><a href="{{ url_for('main.list_posts') }}">All Posts</a></li>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
        </ul>
    </header>
    <div>
        <h1>{{ post.title }}</h1>
        <p><strong>Number of Comments:</strong> {{ post.total_bodies }}</p>

        
        <h2>Sentiment Scores: </h2>

        <ul class="sentiment-box">
            <li>
                <strong>Averaged Vader Scores: </strong>
                Negative Sentiment: <strong>{{ post.avg_neg | round(5) }}</strong>
                Neutral Sentiment: <strong>{{ post.avg_neu | round(5) }}</strong>
                Positive Sentiment: <strong>{{ post.avg_pos | round(5) }}</strong>
                Compound Sentiment: <strong>{{ post.avg_compound | round(5) }}</strong>
            
            </li>
        </ul>
        

        <h2>Comments:</h2>
        
        {% macro render_comments(comments, level) %}
            <ul class="comment-list">
            {% for comment in comments %}
                <li class="comment-item comment-level-{{ level }}">
                    <p><span class="comment-author">{{ comment.author or "[deleted]" }}:</span> {{ comment.body }}</p>
                    <p><strong>Vader Scores: </strong>
                        Negative Sentiment: <strong>{{ comment.neg_sentiment | round(5) }}</strong> 
                        Neutral Sentiment: <strong>{{ comment.neu_sentiment | round(5) }}</strong> 
                        Positive Sentiment: <strong>{{ comment.pos_sentiment | round(5) }}</strong> 
                        Compound Sentiment: <strong>{{ comment.compound_sentiment | round(5) }}</strong></p>

                    {% if comment.replies %}
                        {{ render_comments(comment.replies, level + 1) }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endmacro %}

        {% if post.comments %}
            {{ render_comments(post.comments, 0 ) }}
        {% else %}
            <p>No Comments found for this post.</p>
        {% endif %}

        <p style="margin-top: 20px;"><a href="{{ url_for('main.list_posts') }}">Back to All Posts</a></p>
    </div>
</body>
</html>